{% extends 'scripts/base.html' %} {% block contenido %}
<div class="container">
  <h2>About</h2>
  <ul>
    <li>
      <h3>Lucas Gonzalez</h3>
      <p></p>
    </li>
    <li>
      <h3>Leonardo Depetris</h3>
        <h6>Ingeniero Electrónico - UTN San Francisco</h6>  
        <h6>Especialista Ingeniería Ambiental - UTN San Francisco</h6>   
        <h6>Semi Senior Embedded Developer - CoopMorteros</h6>   
        <h6>Semi Senior IoT Developer - CoopMorteros</h6> 
        <h6>Docente JTP Informática I - UTN San Francisco</h6>   
      <p></p>
    </li>
    <li>
      <h3>Lorenzo Depetris</h3>
        <h6>Ingeniero Electrónico - UTN San Francisco</h6>  
        <h6>Junior Embedded Developer - CoopMorteros</h6>   
        <h6>Junior IoT Developer - CoopMorteros</h6>   
      <p></p>
    </li>
  </ul>
</div>
{% endblock %}
