{% extends 'scripts/base.html' %} {% block contenido %}
<div class="container">
  <h2>About</h2>
  <p> 
    Aplicación educativa, curso Python 44065 CoderHouse. Se trata de una aplicación foro de series y películas.
  </p>
  <h3>Desarrolladores</h3>
  <ul>
    <li>
        <h4>Lucas Gonzalez</h4>
        <h6>Junior FrontEnd Developer</h6>  
        <h6>Lenovo Web Developer</h6>  
      <p></p>
    </li>
    <li>
      <h4>Leonardo Depetris</h4>
        <h6>Ingeniero Electrónico - UTN San Francisco</h6>  
        <h6>Especialista Ingeniería Ambiental - UTN San Francisco</h6>   
        <h6>Semi Senior Embedded Developer - CoopMorteros</h6>   
        <h6>Semi Senior IoT Developer - CoopMorteros</h6> 
        <h6>Docente JTP Informática I - UTN San Francisco</h6>   
      <p></p>
    </li>
    <li>
      <h4>Lorenzo Depetris</h4>
        <h6>Ingeniero Electrónico - UTN San Francisco</h6>  
        <h6>Junior Embedded Developer - CoopMorteros</h6>   
        <h6>Junior IoT Developer - CoopMorteros</h6>   
      <p></p>
    </li>
  </ul>
</div>
{% endblock %}
