{% extends 'scripts/saludar.html' %} {% block contenido %}
<div class="form-container">
    <form action="/mi-familia/buscar" method="post">
      {% csrf_token %} {{ form }}
      <input type="submit" value="Submit" />
    </form>

    {% for familiar in lista_familiares %}
    <ul>
      <li>
        Nombre: {{familiar.nombre}}, Dirección: {{familiar.direccion}},
        Pasaporte: {{familiar.numero_pasaporte}}
      </li>
    </ul>
    {% endfor %}
  
  {% endblock %}
  </div>
  </body>
</html>
