{% extends 'scripts/base.html' %}

{% block contenido %}
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
                {% if  Posteos.0 %}
                <a href="#!"><img style="max-width:100%;" class="card-img-top" src="{{ Posteos.0.imagen.url }}" alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted">{{Posteos.0.fecha}}</div>
                    <h2 class="card-title">{{Posteos.0.titulo}}</h2>
                    <p class="card-text">{{Posteos.0.mensaje}}</p>
                    <a class="btn btn-primary" href="{% url 'detalle-post' Posteos.0.id %}">Read more →</a>
                </div>
                {% endif %}
            </div>
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                <div class="col-lg-6">
                    <!-- Blog post-->
                    {% if Posteos.1 %}
                    <div class="card mb-4">
                        <a href="#!"><img style="max-width:100%;" class="card-img-top" src="{{ Posteos.1.imagen.url }}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{Posteos.1.fecha}}</div>
                            <h2 class="card-title">{{Posteos.1.titulo}}</h2>
                            <p class="card-text">{{Posteos.1.mensaje}}</p>
                            <a class="btn btn-primary" href="{% url 'detalle-post' Posteos.1.id %}">Read more →</a>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Blog post-->
                    <div class="card mb-4">
                    {% if Posteos.2 %}
                        <a href="#!"><img style="max-width:100%;" class="card-img-top" src="{{ Posteos.2.imagen.url }}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{Posteos.2.fecha}}</div>
                            <h2 class="card-title">{{Posteos.2.titulo}}</h2>
                            <p class="card-text">{{Posteos.2.mensaje}}</p>
                            <a class="btn btn-primary" href="{% url 'detalle-post' Posteos.2.id %}">Read more →</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-lg-6">
                    {% if Posteos.3 %}
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img style="max-width:100%;" class="card-img-top" src="{{ Posteos.3.imagen.url }}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{Posteos.3.fecha}}</div>
                            <h2 class="card-title">{{Posteos.3.titulo}}</h2>
                            <p class="card-text">{{Posteos.3.mensaje}}</p>
                            <a class="btn btn-primary" href="{% url 'detalle-post' Posteos.3.id %}">Read more →</a>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Blog post-->
                    <div class="card mb-4">
                        {% if Posteos.4 %}
                        <a href="#!"><img style="max-width:100%;" class="card-img-top" src="{{ Posteos.4.imagen.url }}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">{{Posteos.4.fecha}}</div>
                            <h2 class="card-title">{{Posteos.4.titulo}}</h2>
                            <p class="card-text">{{Posteos.4.mensaje}}</p>
                            <a class="btn btn-primary" href="{% url 'detalle-post' Posteos.4.id %}">Read more →</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <form action="{% url 'search-by-name-post' %}" method="get">
                        {% csrf_token %}
                        <input type="search" name="post-titulo">
                        <input type="submit" value="go">
                    </form>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">Web Design</a></li>
                                <li><a href="#!">HTML</a></li>
                                <li><a href="#!">Freebies</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">JavaScript</a></li>
                                <li><a href="#!">CSS</a></li>
                                <li><a href="#!">Tutorials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
{% endblock %}
